[MAIN]
recursive=yes

[MESSAGES CONTROL]
disable=
    R,
    C,
    E0401,

[REPORTS]
output-format=colorized

# files-output=no
# reports=no

#https://github.com/pylint-dev/pylint/blob/main/pylintrc
